.error-notifier {
  @errorOpacity: 0.85;
  width: 30%;
  position: fixed;
  top: 20px;
  right: 20px;
  .error-item {
    opacity: @errorOpacity;
    transition: opacity 1s;
    &.ng-enter {
      opacity: 0;
    }
    &.ng-enter.ng-enter-active {
      opacity: @errorOpacity;
    }
    &.ng-leave {
      opacity: @errorOpacity;
    }
    &.ng-leave.ng-leave-active {
      opacity: 0;
    }
    .remove-error {
      cursor: pointer;
      &:hover {
        text-shadow: 0 0 2px #FFA0A0;
      }
    }
  }
}
