<div class="error-notifier">
  <div ng-repeat="error in errorService.getErrors()" class="alert alert-danger error-item">
    <span ng-click="errorService.removeError(error)" class="glyphicon glyphicon-remove pull-right remove-error"></span>
    <strong>Error: </strong> {{error.message}}
  </div>
</div>
