<div class="progress center-block" style="width: 25%">
  <div class="progress-bar progress-bar-striped active"
       ng-class="barColor ? 'progress-bar-' + barColor : ''"
       style="width: 100%"></div>
</div>
